# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
flutter_*.png
.sconsign.dblite
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.macos/
.idea/
.vscode/

# Xcode/Android related
android/.gradle/
android/.idea/
android/.settings/
android/local.properties
android/app/google-services.json
android/key.properties
android/key_store/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flr
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner/FlutterEngine.swift
ios/Podfile.lock
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/DerivedData/
ios/.generated/
Pods/

# IntelliJ related
.idea/
*.iml
*.ipr
*.iws

# VS Code related
.vscode/
*.code-workspace

# Web related
web/.dart_tool/
web/.packages
web/build/

# Windows related
windows/.dart_tool/
windows/flutter/ephemeral/

# Linux related
linux/.dart_tool/
linux/flutter/ephemeral/

# Misc
*.log
*.tmp
*.DS_Store
*.swp
*.lock
*.lock.lock
*.orig
**/*.bak

# Screenshot Folder (if screenshots are generated automatically)
screenshots/

# Flutter Plugin related
android/gradle.properties

# Firebase
ios/Runner/GoogleService-Info.plist
android/app/google-services.json

# User-related
.idea/
*.iml
*.ipr
*.iws
*.launch
*.yaml.swp
